<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GyaanGuru"
        tools:targetApi="31">
        <activity
            android:name=".Activities.NewsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.MoreAppsActivity"
            android:exported="false"
            android:theme="@style/Theme.GyaanGuru.Light" />
        <activity
            android:name=".Activities.PrivacyActivity"
            android:exported="false" />
        <activity
            android:name=".Chat_ai.GeminiActivity"
            android:exported="false"
            android:label="@string/title_activity_gemini"
            android:theme="@style/Theme.GyaanGuru" />
        <activity
            android:name=".Activities.AboutActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.TermsActivity"
            android:exported="false" />
        <activity
            android:name=".Account_details.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Chat_ai.CopilotActivity"
            android:exported="false" />
        <activity
            android:name=".Chat_ai.ChatgptActivity"
            android:exported="false" />
        <activity
            android:name=".Account_details.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.MainActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ChatBotActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ScoreActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.DailyQuizActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.QuizzesActivity"
            android:exported="false" />
        <activity
            android:name=".Account_details.SigninActivity"
            android:exported="false" />
        <activity
            android:name=".Account_details.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>